* {
  margin: 0;
  padding: 0;
  list-style: none;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.home {
  background: #eae6ff;
  height: 100vh;
}


nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  text-decoration: none;
  color: #0065ff;
  font-weight: bold;
  font-size: 17px;
  padding: 0 13px;
}

nav ul li a:hover {
  background: #1b9bff;
  transition: .5s;
}

nav ul li button {
  background: #0065ff;
  border: none;
  padding: 4px;
}

nav ul li button a {
  color: #ffffff;
}

.checkbtn {
  font-size: 30px;
  color: #fff;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 952px) {
  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 35vh;
    background: #091e42;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
  }

  a:hover, a.active {
    background: none;
    color: #0082e6;
  }

  #check:checked ~ ul {
    left: 0;
  }
}

.home-section {
  display: flex;  
  justify-content: center;
  align-items: center;
  margin: 2rem 10rem;
}

.home-content {
  width: 50%;
}

.home-content h2 {
  font-size: 44px;
  font-weight: 600;
  padding-bottom: 15px;
}

.home-content p {
  font-size: 22px;
  padding-bottom: 15px;

}

.home-content input {
  width: 50%;
  height: 30px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: .5s;
  padding: 0 10px;
}

.home-content input::placeholder {
  font-weight: 600;
  padding: 0 8px;
}

.home-content button {
  width: 43%;
  padding: 5px;
  border: none;
  background: #0065ff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  transition: .5s;
  outline: none;
}

.home-image {
  width: 50%;
}

.home-image img {
  width: 100%;
  height: 75vh;
}

@media (max-width: 767px) {
  .home {
    height: auto;
  }
  .home-section {
    flex-direction: column;
    margin: 2rem 1rem;
  }
  
  .home-content, .home-image {
    width: 100%;
  }

  .home-image img {
    height: auto;
  }
  
  .home-content input, .home-content button {
    width: 100%;
  }

  .home-content input {
    margin-bottom: 15px;
  }

  .home-content button {
    margin-bottom: 15px;
  }
}

.trello-dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  justify-content: center;
  margin: 100px 0;
}

.trello-dashboard h3 {
  font-size: 30px;
  padding-bottom: 15px;
}

.trello-dashboard p {
  width: 51%;
  font-size: 21px;
  padding-bottom: 15px;
}

.trello-dashboard button {
  background-color: transparent;
  border: 1px solid #0065ff;
  border-radius: 5px;
  color: #0065ff;
  padding: 10px 20px;
  margin-bottom: 15px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.trello-dashboard button:hover {
  background-color: #0065ff;
  color: #fff;
}

.trello-dashboard button span {
  font-size: 30px;
}

.trello-dashboard .dashboard-caption {
  font-size: 20px;
  text-align: center;
  font-weight: normal;
}

.trello-dashboard img {
  width: 900px;
  margin-bottom: 15px;
}

.trello-dashboard .logos {
  display: flex;
}

.trello-dashboard .logos img {
  width: 100px;
}

@media (max-width: 768px) {
  .trello-dashboard {
  margin: 50px 0;
  }
  
  .trello-dashboard h3 {
  font-size: 24px;
  padding-bottom: 10px;
  text-align: center;
  }
  
  .trello-dashboard p {
  width: 90%;
  font-size: 18px;
  padding-bottom: 10px;
  }
  
  .trello-dashboard button {
  font-size: 14px;
  padding: 8px 16px;
  }
  
  .trello-dashboard button span {
  font-size: 24px;
  }
  
  .trello-dashboard img {
  width: 100%;
  }
  
  .trello-dashboard .logos img {
  width: 60px;
  }
}